@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryDark: #05004E;
  --primary: #3972C3;
  --blue: #4079ED;
  --grayColor: #737791;
}
/* Hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
